.main-nav-wrapper {
  /* border: 0.5px solid grey; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 8px lightgrey;
}

.nav-grp-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}
.nav-grp-links a {
  text-decoration: none;
}
.get-started-btn {
  background-color: rgb(23, 146, 23);
  color: white;
  padding: 8px 12px;
}
